.App {
  text-align: center;
}
button{
  padding: 20px;
  margin: 10px;
  background-color: purple;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

h3,
.data-title,
.total-data{
  padding: 10px;
  background-color: gray;
  display: inline-block;
  border-radius: 10px;
  margin: 10px;
}